<p style="color: green"><%= notice %></p>

<%= link_to("Back to Home", {controller: "main", action: "index"}) %><br />

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>

<%= link_to("First book", book_path(1)) %>