<%= link_to("Back to Book List", books_path, class: 'back-link') %>

<div class="books show">
  <h2>Book Details</h2>

  <div class="actions">
    <%= link_to('Update', edit_book_path(@book)) %>
    <%= link_to('Delete', delete_book_path(@book)) %>
  </div>

  <table summary="Book detail view">
    <tr>
      <th>Name</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @book.position %></td>
    </tr>
    <tr>
      <th>Author</th>
      <td><%= @book.author  %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @book.price %></td>
    </tr>
    <tr>
      <th>Published Date</th>
      <td><%= @book.publishedDate %></td>
    </tr>
    <tr>
      <th>Publisher</th>
      <td><%= @book.publisher %></td>
    </tr>
    <tr>
      <th>Pages</th>
      <td><%= @book.pages %></td>
    </tr>
    <tr>
      <th>Release Date</th>
      <td><%= @book.releaseDate %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @book.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @book.updated_at %></td>
    </tr>
  </table>

</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= raw flash[:alert] %></div>
<% end %>